In [114]:
import re
import pandas as pd

# Question 1-Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [2]:
string1='Python Exercises, PHP exercises.'

In [3]:
string1

'Python Exercises, PHP exercises.'

In [18]:
pattern='[\s,\,\.]'

In [19]:
Replaced1=re.sub(pattern,':',string1)

In [9]:
Replaced1

'Python:Exercises::PHP:exercises:'

# Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [42]:
Dict={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [43]:
df=pd.DataFrame(Dict)

In [44]:
df

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [58]:
pattern=r'[^\w\s+]'

In [59]:
df['SUMMARY']=df['SUMMARY'].str.replace(pattern,'',regex=True)
df

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

# Question 3:Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [51]:
def reg(string):
    pattern=re.compile(r'\w{4,}')
    replaced=pattern.findall(string)
    return replaced
string='This is python programming using regular expression'
result=reg(string)
print(result)

['This', 'python', 'programming', 'using', 'regular', 'expression']

# Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [53]:
def reg(string):
    pattern=re.compile(r'\b\w{3,5}\b')
    replaced=pattern.findall(string)
    return replaced
string="Python is a popular programming language. It was created by Guido van Rossum."
result=reg(string)
print(result)

['was', 'Guido', 'van']

# Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [78]:
def reg(string):
    pattern=re.compile(r'[()]')
    replaced=[pattern.sub('',s) for s in string]
    return replaced
string=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result=reg(string)
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [81]:
string = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for s in string:
    print(re.sub(r"[()]","", s))

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

# Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [69]:
with open('D:\DS2312\Assignment 2\Textfile2.txt') as file:
    for line in file:
        string=re.sub(r'[()]','',line)
        print(string)

ï»¿"example .com", "hr@fliprobo .com", "github .com", "Hello Data Science World", "Data Scientist"

# Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [100]:
string= "ImportanceOfRegularExpressionsInPython"
result=re.findall(r'[A-Z][^A-Z]*',string)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

# Question 8- Create a function in python to insert spaces between words starting with numbers.

In [70]:
def reg(string):
    replaced=re.sub('',' ',string)
    return replaced

string="RegularExpression1IsAn2ImportantTopic3InPython"
result=reg(string)
print(result)

 R e g u l a r E x p r e s s i o n 1 I s A n 2 I m p o r t a n t T o p i c 3 I n P y t h o n

# Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [84]:
def reg(string):
    replaced=re.sub('[A-Z][^A-Z]*[A-Z]','',string)
    return replaced

string="RegularExpression1IsAn2ImportantTopic3InPython"
result=reg(string)
print(result)

xpression1n2opic3ython

# Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [24]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [38]:
pattern=r'(\w{1,6})'
df['first_five_letters']=df['Country'].str.extract(pattern)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

# Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [101]:
string='Python language is being used by almost all tech-giant companies like – Google, Amazon, Facebook, Instagram, Dropbox, Uber… etc._'
pattern=r'[\w]+'
match=re.findall(pattern,string)
match

['Python',
 'language',
 'is',
 'being',
 'used',
 'by',
 'almost',
 'all',
 'tech',
 'giant',
 'companies',
 'like',
 'Google',
 'Amazon',
 'Facebook',
 'Instagram',
 'Dropbox',
 'Uber',
 'etc',
 '_']

# Question 12- Write a Python program where a string will start with a specific number.

In [54]:
string='In 1991 Python was released and is a popular programming language. It was created by Guido van Rossum.'
pattern='(\d+.*$)'
match=re.findall(pattern,string)
match

['1991 Python was released and is a popular programming language. It was created by Guido van Rossum.']

# Question 13- Write a Python program to remove leading zeros from an IP address

In [11]:
string='192.001.025.003'
pattern='\.0*'
match=re.sub(pattern,'.',string)
match

'192.1.25.3'

# Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [213]:
with open('D:\DS2312\Assignment 2\Textfile14.txt') as file:
    for line in file:
        pattern=r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:th)?\s+\d{4}\b'
        string=re.findall(pattern,line)
        print(string)

['August 15th 1947']

# Question 15- Write a Python program to search some literals strings in a string.

In [44]:
string='The quick brown fox jumps over the lazy dog.'
pattern=r'(fox|dog|horse)'
match=re.findall(pattern,string)
print(match)

['fox', 'dog']

# Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [45]:
string='The quick brown fox jumps over the lazy dog.'
pattern=r'(fox)'
match=re.search(pattern,string)
print(match)

<re.Match object; span=(16, 19), match='fox'>

# Question 17- Write a Python program to find the substrings within a string.

In [88]:
string='Python exercises, PHP exercises, C# exercises'
pattern=r'exercises'
match=re.findall(pattern,string)
match

['exercises', 'exercises', 'exercises']

# Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [212]:
string='Python exercises, PHP exercises, C# exercises'
pattern=r'exercises'
match=re.finditer(pattern,string)

for matches in match:
    string=matches.group()
    position=matches.span()
    
    print('String=',string,'and position=',position)

String= exercises and position= (7, 16)
String= exercises and position= (22, 31)
String= exercises and position= (36, 45)

# Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [98]:
string='1987-06-24'
pattern=r'(\d{4}-\d{1,2}-\d{1,2})'
match=re.sub(patter,'24-06-1987',string)
match

'1987-06-24'

# Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [210]:
def reg(string): 
    pattern=re.compile(r'\b\d+\.\d{1,2}\b')
    match=pattern.findall(string)
    return match
string='01.12 0132.123 2.31875 145.8 3.01 27.25 0.25' 
result=reg(string)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

# Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [206]:
string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern=r'\d+'
match=re.finditer(pattern,string)
for matches in match:
    position=matches.span()
    number=matches.group()
    print('Number=',number,'and position=',position)

Number= 947 and position= (31, 34)
Number= 896 and position= (36, 39)
Number= 926 and position= (41, 44)
Number= 524 and position= (46, 49)
Number= 734 and position= (51, 54)
Number= 950 and position= (56, 59)
Number= 642 and position= (61, 64)

# Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [170]:
string='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern=r'\d+'
match=re.findall(pattern,string)
match

['947', '896', '926', '524', '734', '950', '642']


# Question 23-Create a function in python to insert spaces between words starting with capital letters.

In [182]:
string='RegularExpressionIsAnImportantTopicInPython'
match=re.sub('[A-Z]',' ',string)
match

' egular xpression s n mportant opic n ython'

# Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [158]:
string='Regular Expression is an important topic in Python'
pattern=r'\b[A-Z][a-z]+\b'
match=re.findall(pattern,string)
match

['Regular', 'Expression', 'Python']

# Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [ ]:
string="Hello hello world world"

# Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [155]:
def reg(string):
    if(re.search(r'[a-zA-z0-9]$',string)):
        print('String ends with alphanumeric characters')
    else:
        print('String does not ends with alphanumeric characters')
        
  

string1='Regular Expression Is An Important Topic In Python @abc123'
string2='Regular Expression Is An Important Topic In Python!'
reg(string1)
reg(string2)

String ends with alphanumeric characters
String does not ends with alphanumeric characters

# Question 27-Write a python program using RegEx to extract the hashtags.

In [127]:
string='''RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'''
match=re.findall('#\w+',string)
match

['#Doltiwal', '#xyzabc', '#Demonetization']

# Question 28- Write a python program using RegEx to remove <U+..> like symbols

In [134]:
string="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=r'<U\+00[A-Z0-9]+>'
match=re.sub(pattern,'',string)
match

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

# Question 29- Write a python program to extract dates from the text stored in the text file.

In [104]:
with open('D:\DS2312\Assignment 2\Textfile29.txt') as file:
    for line in file:
        string=re.findall(r'\b\d{1,2}-\d{1,2}-\d{4}\b',line)
        print(string)

['12-09-1992', '15-12-1999']

# Question 30- Create a function in python to remove all words from a string of length between 2 and 4.The use of the re.compile() method is mandatory.

In [120]:
def reg(string):
    pattern=re.compile(r'\b\w{2,4}\b')
    match=pattern.sub('',string)
    return match

string='The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.'
result=reg(string)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.