In [ ]:
!pip install selenium
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Question 1

In [174]:
driver=webdriver.Chrome()

In [175]:
#Getting the webpage
driver.get("https://www.shine.com/")

In [177]:
#Clicking on search button
Find=driver.find_element(By.CLASS_NAME,"input")
Find.click()

In [179]:
job=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
job.send_keys('Data Analyst')
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys("Bangalore")
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [180]:
job_title=[]
company_name=[]
job_location=[]
experience=[]

#fetching job titles
title_tag=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div/div/h2/a')[:10]
for t in title_tag:
    job_title.append(t.text)
    
#fetching company details
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')[:10]
for c in company:
    company_name.append(c.text)
    
#fetching job locations
location=driver.find_elements(By.XPATH,' //div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]
for l in location:
    job_location.append(l.text)

#fetching experience[:10]
experience1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[:10]
for exp in experience1:
    experience.append(exp.text)
    
# Creating DataFrame
df=pd.DataFrame({'Title':job_title,'Company Name':company_name,'Location':job_location,'Experience':experience})
df

,Title,Company Name,Location,Experience
0,Lead Data Analyst,ara resources private limited,Bangalore,4 to 9 Yrs
1,Data Analyst,diraa hr services hiring for mncs,Bangalore\n+3,0 to 1 Yr
2,Vacancy For Data Analyst,yogita staffing solution,Bangalore\n+14,0 to 3 Yrs
3,Clinical Data Analyst,techno endura,Bangalore\n+6,0 to 1 Yr
4,Data Management,future solution centre,Bangalore\n+18,15 to >25 Yrs
5,Data Modeler data,boyen haddin consulting and technol...,Bangalore,3 to 6 Yrs
6,Data Modeller,boyen haddin consulting and technol...,Bangalore,3 to 6 Yrs
7,Data Modeler Bangalore,boyen haddin consulting and technol...,Bangalore,3 to 6 Yrs
8,Data Modeler,boyen haddin consulting and technol...,Bangalore,3 to 6 Yrs
9,Clinical Data Analyst,quiscon biotech,Bangalore\n+4,0 to 2 Yrs

In [181]:
print(len(job_title),len(company_name),len(job_location),len(experience))

10 10 10 10

# Question 2

In [182]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.shine.com/")

#Clicking on search button
Find=driver.find_element(By.CLASS_NAME,"input")
Find.click()

job=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
job.send_keys('Data Scientist')
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys("Bangalore")
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [187]:
job_title=[]
company_name=[]
job_location=[]
experience=[]

#fetching job titles
title_tag=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div/div/h2/a')[:10]
for t in title_tag:
    job_title.append(t.text)
    
#fetching company details
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')[:10]
for c in company:
    company_name.append(c.text)
    
#fetching job locations
location=driver.find_elements(By.XPATH,' //div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]
for l in location:
    job_location.append(l.text)

#fetching experience[:10]
experience1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[:10]
for exp in experience1:
    experience.append(exp.text)
    
# Creating DataFrame
df=pd.DataFrame({'Title':job_title,'Company Name':company_name,'Location':job_location,'Experience':experience})
df

,Title,Company Name,Location,Experience
0,ML Data Scientist,gujarat facility services hiring fo...,Bangalore\n+3,5 to 8 Yrs
1,Data Scientist Urgent Vacancy,renuka interprises,Bangalore\n+15,0 to 4 Yrs
2,Data Scientist Recruitment,renuka interprises,Bangalore\n+15,0 to 4 Yrs
3,Data Scientist Recruitment,renuka interprises,Bangalore\n+15,0 to 4 Yrs
4,Data Scientist,acme services private limited,Bangalore\n+4,3 to 5 Yrs
5,Data Scientist,ltimindtree limited,Bangalore,6 to 8 Yrs
6,Lead Data Scientist/ Principal Data Scientist,fractal,Bangalore\n+1,5 to 9 Yrs
7,Vacancy For Data Scientist Fresher and Experience,yogita staffing solution,Bangalore\n+14,0 to 3 Yrs
8,Senior Data Scientist,neostats,Bangalore\n+1,7 to 11 Yrs
9,Lead Data Scientist,aereo,Bangalore\n+1,7 to 10 Yrs

In [188]:
print(len(job_title),len(company_name),len(job_location),len(experience))

10 10 10 10

# Question 3

In [191]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.shine.com/")

#Clicking on search button
Find=driver.find_element(By.CLASS_NAME,"input")
Find.click()

In [194]:
# Getting Data scientist jobs

job=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
job.send_keys('Data Scientist')
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [214]:
#Getting jobs in Delhi location

loc=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button')
loc.click()

location=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
location.send_keys('Delhi')

select=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[2]')
select.click()

show=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[4]/button[2]')
show.click()

In [220]:
#Getting jobs of salary 3-4 lakhs

sal=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div/div/div[2]/div/ul/li[3]/button')
sal.click()

salary=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
salary.send_keys('3')

select=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
select.click()

show=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[4]/button[2]')
show.click()

In [221]:
job_title=[]
company_name=[]
job_location=[]
experience=[]

#fetching job titles
title_tag=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div/div/h2/a')[:10]
for t in title_tag:
    job_title.append(t.text)
    
#fetching company details
company=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')[:10]
for c in company:
    company_name.append(c.text)
    
#fetching job locations
location=driver.find_elements(By.XPATH,' //div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')[:10]
for l in location:
    job_location.append(l.text)

#fetching experience[:10]
experience1=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')[:10]
for exp in experience1:
    experience.append(exp.text)
    
# Creating DataFrame
df=pd.DataFrame({'Title':job_title,'Company Name':company_name,'Location':job_location,'Experience':experience})
df

,Title,Company Name,Location,Experience
0,Clinical Data Specialist,techno endura,Delhi\n+8,0 to 2 Yrs
1,Clinical Data Programmer,techno endura,Delhi\n+6,0 to 1 Yr
2,Clinical Data Management,techno endura,Delhi\n+8,0 to 2 Yrs
3,Clinical Trial Specialist,techno endura,Delhi\n+8,0 to 2 Yrs
4,Clinical Research Associate,techno endura,Delhi\n+8,0 to 2 Yrs
5,TMF Specialist,techno endura,Delhi\n+6,0 to 1 Yr
6,TMF Specialist- Fresher,techno endura,Delhi\n+6,0 to 1 Yr
7,Medical Research and Clinical Trials Vacancies,techno endura,Delhi\n+6,0 to 1 Yr
8,Clinical Research Associate- Fresher,techno endura,Delhi\n+6,0 to 1 Yr
9,TMF Specialist,techno endura,Delhi\n+8,0 to 2 Yrs

# Question 4

In [422]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.flipkart.com/")

In [423]:
# Searching for sunglasses
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [424]:
#Clicking on search icon
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [426]:
#Fetching brand, product description, price
brand=[]
productdesc=[]
price=[]

#fetching brand names
allbrand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for b in allbrand:
    brand.append(b.text)
        
#fetching product description       
prodec=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for p in prodec:
    productdesc.append(p.text)

#fetching amount
amount=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for a in amount:
    price.append(a.text)

In [427]:
print(len(brand),len(productdesc),len(price))

40 37 40

# Question 5

In [252]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product- reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market place=FLIPKART")

#Getting error while using above link
# nfortunately the page you are looking for has been moved or deleted

# Question 6

In [370]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.flipkart.com/")

In [371]:
# Searching for sneakers
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [373]:
#Clicking on search icon
search=driver.find_element(By.CLASS_NAME,"_2iLD__")
search.click()

In [374]:
#Fetching brand, product description, price
brand=[]
productdesc=[]
price=[]

#fetching brand
allbrand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for b in allbrand:
    brand.append(b.text)
    
#fetching product description

prodec=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

for p in prodec:
    productdesc.append(p.text)
    
#fetching price

amount=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for b in amount:
    price.append(b.text)

In [375]:
 print(len(brand),len(productdesc),len(price))

40 30 40

# Question 7

In [381]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.amazon.in/")

In [382]:
# Searching for laptop
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [383]:
#Clicking on search icon
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [384]:
#selecting cpu type filter Intel Core i7
select=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[19]/span/span[9]/li/span/a/div/label/i")
select.click()

In [388]:
title=[]
ratings=[]
price=[]

#fetching title
title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')[:10]
for t in title_tag:
    title.append(t.text)
    
#fetching rating
rating_tag=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span')[:10]
for r in rating_tag:
    ratings.append(r.text)
    
#fetching price
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')[:10]
for r in price_tag:
    price.append(r.text)

In [389]:
print(len(price),len(ratings),len(price))

10 10 10

# Question 8

In [428]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.azquotes.com/")

In [429]:
#selecting top quotes
select=driver.find_element(By.XPATH,'//div[@class="mainmenu"]/ul/li[5]')
select.click()

In [430]:
quote=[]
author=[]
typequote=[]

#fetching Quote
quote_tag=driver.find_elements(By.XPATH,'//a[@class="title"]')
for q in quote_tag:
    quote.append(q.text)
    
#fetching Author
author_tag=driver.find_elements(By.XPATH,'//div[@class="author"]/a')
for a in author_tag:
    author.append(a.text)
    
#fetching Type Of Quotes
typequote_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for tq in typequote_tag:
    typequote.append(tq.text)

In [431]:
print(len(quote),len(author),len(typequote))

100 100 100

# Question 9

In [432]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.jagranjosh.com/")

In [433]:
#selecting GK menu
select=driver.find_element(By.XPATH,'//div[@class="Header_topNav__NnKZp"]/ul/li[3]')
select.click()

In [434]:
#selecting list of prime ministers
pm=driver.find_element(By.XPATH,'//ul[@class="jsx-12c9ed9faf10694e dotlist"]/li[11]/a')
pm.click()

In [350]:
name=[]
born_dead=[]
term_office=[]
remarks=[]

#fetching name
name_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[2]')
for n in name_tag:
    name.append(n.text)

#fetching Born-Dead
born_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[3]')
for bd in born_tag:
    born_dead.append(bd.text)
    
#fetching term office
term_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[4]')
for o in term_tag:
    term_office.append(o.text)
    
#fetching remarks
remarks_tag=driver.find_elements(By.XPATH,'//div[@class="TableData"]/table/tbody/tr/td[5]')
for r in remarks_tag:
    remarks.append(r.text)

In [351]:
print(len(name),len(born_dead),len(term_office),len(remarks))

20 19 19 19

# Question 10

In [363]:
driver=webdriver.Chrome()

#Getting the webpage
driver.get("https://www.motor1.com/")

In [ ]:
car=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
car.send_keys('50 most expensive cars')

In [ ]:
#clicking search button
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()